[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dfparser = {file = "https://github.com/kapot65/python-df-parser/archive/master.zip"}
dftcp = ">=0.0.3"
asyncio = ">=3.4.3"
pyvisa = "*"
ipython = "*"
aiohttp = ">=3.8.1"
jsonschema = ">=4.16.0"
tqdm = "*"
pexpect = "*"
plotly = "*"
pandas = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.10"
